chr22_meth_example/*
ecoli_2kb_region_big_testresults
multi-fast5
chr22_meth_example_multifast5
ecoli_2kb_region_multifast5
chr22_meth_example_big_testresults
ecoli_2kb_region2/
f5cdebug/
rna/
test/
ecoli_2kb_region/reads.blow5.idx
ecoli_2kb_region_vbz/
rna-spliced/
