*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.cu text eol=lf
*.cuh text eol=lf
*.sh text eol=lf
*.py text eol=lf
Makefile text eol=lf
License text eol=lf
*.mk text eol=lf
*.in text eol=lf
*.ac text eol=lf
*.awk text eol=lf
*.md text eol=lf
*.yml text eol=lf
